<mat-card>
    <mat-card-subtitle>
        List Users ( {{users.length}} )
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
            <mat-selection-list #listSelectUser>
                <ng-container *ngIf="loadingData==false && users.length>0">
                    <mat-list-option class="container" *ngFor="let user of users" [value]="user">
                        <div class="row">
                            <div class="col-3">
                                <img src="./../../../../assets/img/user_image.jpg" class="rounded rounded-smal-pp" alt="...">
                            </div>
                            <div class="col-9">
                                <span>{{user.fullName}}</span>
                                <span matLine> {{user.email}} </span>
                            </div>
                        </div>        
                        <mat-divider></mat-divider>   
                        <br>                        
                    </mat-list-option>                     
                </ng-container>                 
            </mat-selection-list> 
            <div *ngIf="loadingData==false && users.length==0" class="d-flex-justify-content-center"><span>No data found</span></div>          
        <div class="d-flex justify-content-center" *ngIf="loadingData==true">
            <app-spinner></app-spinner>
          </div>
    </mat-card-content>
</mat-card>