<div class="animated fadeIn">
  <div class="row">
    <div *ngIf="initiatedInvestment.length==0">
      <h4><span class="text-white">No investment to show</span></h4>
    </div>
    <div *ngFor="let invest of initiatedInvestment" class="col-sm-6 col-lg-3">
      <div class="card text-white bg-secondary">
        <div class="card-body pb-0">
          <!-- <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button> -->
          <div class="text-value" style="color: rgb(139, 105, 30);">{{invest.amount}} BTC</div>
          <div style="color: rgb(0, 0, 0);">Payment Date: {{invest.getDateOf(invest.paymentDate) | date:'dd/MM/yyyy HH:mm a'}}</div>
          <div style="color: rgb(0, 0, 0);">Wating Confirmation</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart2Data"
          [labels]="lineChart2Labels"
          [options]="lineChart2Options"
          [colors]="lineChart2Colours"
          [legend]="lineChart2Legend"
          [chartType]="lineChart2Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <!--/.card-->
</div>
