<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card">
        <div class="card-header linear-gradient">
          <h3 class="text-center mx-4 mb-2">
            History</h3>
        </div>
        <div class="card-body linear-gradient2">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th><b>Amount</b></th> 
                <th><b>Date</b></th>
                <th><b>status</b></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let history of investments">
                <td><b>{{history.amount}}</b></td>
                <td><b>{{history.paymentDate}}</b></td>
                <td><b><span class="badge badge-info">{{getStatusLabel(history)}}</span></b></td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination pull-right">
              <li class="page-item"><a class="page-link">Prev</a></li>
              <li class="page-item active">
                <a class="page-link">1</a>
              </li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item"><a class="page-link">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>