<br>
<button class="btn btn-warning" routerLink="/user/requests"> Back</button>
<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card" style="border-radius: 15px;">
                <div class="card-header linear-gradient">
                    <h3 class="text-center mx-4 mb-2">Rejected Requests</h3>
                </div>
                <div class="card-body linear-gradient2">
                    <table class="table table-bordered table-striped table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th><b>user</b></th>
                                <th><b>Subject</b></th>
                                <th><b>Action</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><b>Test user</b></th>
                                <th><b>invest unvalid</b></th>
                                <th><div class="btn btn-info">open</div></th>
                            </tr>
                            <tr>
                                <th><b>Test user</b></th>
                                <th><b>invest unvalid</b></th>
                                <th><div class="btn btn-info">open</div></th>
                            </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination pull-right">
                            <li class="page-item"><a class="page-link">Prev</a></li>
                            <li class="page-item active">
                                <a class="page-link">1</a>
                            </li>
                            <li class="page-item"><a class="page-link">2</a></li>
                            <li class="page-item"><a class="page-link">3</a></li>
                            <li class="page-item"><a class="page-link">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>