<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6 col-md-12">
        <div class="card">
          <div class="row linear-gradient2">
            <div class="col-md-6">
              <h1>Admin Panel</h1>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <br><button class="btn" routerLink="/admin/list-investment" style="background-color: rgb(62, 84, 209);">Investments list  --></button><br>
                <br><button class="btn" routerLink="/admin/add-investment" style="background-color: rgb(62, 84, 209);">Add Investment  --></button><br>
            </div>
            <div class="col-md-3">
              <br><button class="btn" routerLink="/admin/list-user" style="background-color: rgb(62, 84, 209);">Users list  --></button><br>

            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>