
<div class="modal-header">
    <span>Split investment</span>

    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">

        <span aria-hidden="true">&times;</span>

    </button>

</div>

<div class="modal-body">

    <div class="row">
        <div class="col-12">
            <form >
                <div class="form-group">
                    <label for="plan">Owner: </label>
                    <span>{{user.email}}</span>
                </div>
                <div class="form-group">
                    <label >Amount: </label>
                    <span>{{investment.amount}}</span>
                </div>
                <div class="form-group">
                    <label for="plan">Reduce</label>
                    <input [formControl]="reduceFormControl" placeholder="0" type="number" class="form-control" [ngClass]="{'is-invalid': submitted && reduceFormControl.errors }">
                    <div *ngIf="submitted && reduceFormControl.errors" class="invalid-feedback text-danger">
                        <div *ngIf="reduceFormControl.errors.required">The amount to be withdrawn is mandatory</div>
                    </div>
                    <div *ngIf="submitted && reduceFormControl.errors" class="invalid-feedback text-danger">
                        <div *ngIf="reduceFormControl.errors.min">The amount withdrawn must be greater than 1000MC</div>
                    </div>
                </div>
                <div class="form-group">
                    <label >Next amount: </label>
                    <span>{{nextAmount}}</span>
                </div>                
                
            </form> 
        </div>
        

    </div>

    <div class="ibox-row-padding">

        <hr class="hr-line"/>

    </div>

    <div class="row">

        <div class="col-sm-6 m-b-xs">

            <button type="button" class="btn btn-success btn-block" (click)="confirm()">
                <span *ngIf="!waitResponse">Confirm</span>
                <app-spinner *ngIf="waitResponse"></app-spinner>
            </button>

        </div>

        <div class="col-sm-6">

            <button class="btn btn-danger btn-block" type="button" (click)="close()">Cancel</button>

        </div>

    </div>

</div>
