<div class="container py-5 px-4">

  <div class="row rounded-lg overflow-hidden shadow">
    <!-- Users box-->
    <div class="col px-0">
      <div class="bg-white">

        <div class="bg-gray px-4 py-2 bg-light">
          <p class="h5 mb-0 py-1">Recent</p>
        </div>

        <div class="messages-box">
          <div class="list-group rounded-0">
            <a class="list-group-item list-group-item-action active text-white rounded-0">
              <div class="media"><img src="../../../../assets/img/alseme.jpeg" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                    <h6 class="mb-0">M. Anselme</h6><small class="small font-weight-bold">online</small>
                  </div>
                  <p class="font-italic mb-0 text-small">Yes,we just need to acquire the right software tools.</p>
                </div>
              </div>
            </a>

            <a class="list-group-item list-group-item-action list-group-item-light rounded-0">
              <div class="media"><img src="../../../../assets/img/cedric.jpg" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                    <h6 class="mb-0">Cedric</h6><small class="small font-weight-bold">10 mins ago</small>
                  </div>
                  <p class="font-italic text-muted mb-0 text-small">I'm going to watch this.</p>
                </div>
              </div>
            </a>

            <a class="list-group-item list-group-item-action list-group-item-light rounded-0">
              <div class="media"><img src="../../../../assets/img/leonard.jpg" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                    <h6 class="mb-0">M. Leonard</h6><small class="small font-weight-bold">30 mins ago</small>
                  </div>
                  <p class="font-italic text-muted mb-0 text-small">Okay,<br> I'll see you tomorrow.</p>
                </div>
              </div>
            </a>

            <a class="list-group-item list-group-item-action list-group-item-light rounded-0">
              <div class="media"><img src="../../../../assets/img/christian.jpg" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                    <h6 class="mb-0">M. Christian</h6><small class="small font-weight-bold">26 Jan</small>
                  </div>
                  <p class="font-italic text-muted mb-0 text-small">I will send you the accesses for our different servers to do the deployment as soon as it will be available.</p>
                </div>
              </div>
            </a>

            <a class="list-group-item list-group-item-action list-group-item-light rounded-0">
              <div class="media"><img src="../../../../assets/img/emmerick.jpg" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                    <h6 class="mb-0">Emmerick</h6><small class="small font-weight-bold">17 Jan</small>
                  </div>
                  <p class="font-italic text-muted mb-0 text-small">Hello Sir.</p>
                </div>
              </div>
            </a>

            <a class="list-group-item list-group-item-action list-group-item-light rounded-0">
              <div class="media"><img src="../../../../assets/img/armand.jpg" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                    <h6 class="mb-0">Armand</h6><small class="small font-weight-bold">01 Jan</small>
                  </div>
                  <p class="font-italic text-muted mb-0 text-small">Hello sir.</p>
                </div>
              </div>
            </a>

            <a class="list-group-item list-group-item-action list-group-item-light rounded-0">
              <div class="media"><img src="../../../../assets/img//abi2.jpg" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                    <h6 class="mb-0">Abigael</h6><small class="small font-weight-bold">30/12/2020</small>
                  </div>
                  <p class="font-italic text-muted mb-0 text-small">Hello sir.</p>
                </div>
              </div>
            </a>

          </div>
        </div>
      </div>
    </div>
    <!-- Chat Box-->
    <div class="col-7 px-0">
      <div class="px-4 py-5 chat-box bg-white">
        <!-- Sender Message-->
        <div class="media w-50 mb-3"><img src="../../../../assets/img/alseme.jpeg" alt="user" width="50" class="rounded-circle">
          <div class="media-body ml-3">
            <div class="bg-light rounded py-2 px-3 mb-2">
              <p class="text-small mb-0 text-muted">Can a user already send his different parcels?</p>
            </div>
            <p class="small text-muted">11:29 AM | Today</p>
          </div>
        </div>

        <!-- Reciever Message-->
        <div class="media w-50 ml-auto mb-3">
          <div class="media-body">
            <div class="bg-primary rounded py-2 px-3 mb-2">
              <p class="text-small mb-0 text-white">Yes sir, these processes are Ok</p>
            </div>
            <p class="small text-muted">11:30 AM | Today</p>
          </div>
        </div>

        <!-- Sender Message-->
        <div class="media w-50 mb-3"><img src="../../../../assets/img/alseme.jpeg" alt="user" width="50" class="rounded-circle">
          <div class="media-body ml-3">
            <div class="bg-light rounded py-2 px-3 mb-2">
              <p class="text-small mb-0 text-muted">Can we also integrate geolocation?</p>
            </div>
            <p class="small text-muted">12:00 PM | Today</p>
          </div>
        </div>

        <!-- Reciever Message-->
        <div class="media w-50 ml-auto mb-3">
          <div class="media-body">
            <div class="bg-primary rounded py-2 px-3 mb-2">
              <p class="text-small mb-0 text-white">Yes,we just need to acquire the right software tools.</p>
            </div>
            <p class="small text-muted">12:01 PM | Today</p>
          </div>
        </div>

      </div>

      <!-- Typing area -->
      <form action="#" class="bg-light">
        <div class="input-group">
          <input type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
          <div class="input-group-append">
            <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
