<div class="animated fadeIn">
  <a routerLink="/user/admin" class="btn btn-link">
    <i class="fa fa-arrow-left"></i> Back to menu
  </a>
  <div class="row">
    <div class="col-md-6 text-right">
      <a routerLink="/admin/list-investment" class="btn btn-success" style="background-color: rgb(172, 88, 14) !important;"><i
          class="fa fa-database"></i> Investments</a>
    </div>
    <div class="col-sm-6 col-md-12">
      <div class="card">
        <div class="row linear-gradient2">
          <div class="col-md-6">
            <h1>List of users</h1>
          </div>
          <!-- <div class="col-md-6 text-right">
            <a routerLink="/admin/add-user" style="background-color: rgb(34, 142, 12) !important;"
              class="btn btn-success"><i class="fa fa-plus"></i></a>
          </div> -->
        </div>

        <div class="row linear-gradient2">
          <div class="card-body linear-gradient2">
            <div class="row">
              <div class="col-md-12">
                <input (keyup)="searchUser()" type="text" class="form-control" placeholder="Search...">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Name</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>City</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of searchUsers" [ngClass]="{'table-success': user.user.status=='active',
                  'table-danger' : user.user.status!='active'}">
                      <td>
                        <button [ngClass]="{'b-danger': user.user.status=='active',
                      'b-success' : user.user.status!='active'}" (click)="changeStatus(user)"
                          class="btn btn-sm btn-danger">
                          <i *ngIf="!user.waitResponse" class="fa fa-power-off"></i>
                          <app-spinner *ngIf="user.waitResponse"></app-spinner>
                        </button>
                      </td>
                      <td>{{ user.user.fullName }}</td>
                      <td>{{ user.user.phone }}</td>
                      <td>{{ user.user.email }}</td>
                      <td>{{ user.user.city }}</td>
                      <td class="text-right">
                        <button (click)="deleteUser(user.user.id)" class="btn btn-danger"
                          style="background-color: rgb(223, 31, 31) !important;">
                          <i class="fa fa-trash-o"></i>
                        </button>
                        <br>
                        <a [routerLink]="['/admin/edit',user.user.id]" (click)="editUser(user.user.id)"
                          class="btn btn-info" style="background-color: rgb(39, 111, 235) !important;">
                          <i class="fa fa-pencil" style="color: rgb(245, 245, 250) !important;"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="searchUsers.length==0">
                    <tr>
                      <td colspan="6">
                        <div class="d-flex justify-content-center">
                          <app-spinner></app-spinner>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>