<br>
<button class="btn btn-warning" routerLink="/user/requests"> Back</button>
<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card" style="border-radius: 15px;">
                <div class="card-header linear-gradient">
                    <h3 class="text-center mx-4 mb-2">Requests on waiting</h3>
                </div>
                <div class="card-body linear-gradient2">
                    <table class="table table-bordered table-striped table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th><b>user</b></th>
                                <th><b>Date</b></th>
                                <th><b>Subject</b></th>
                                <th><b>Content</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr (click)="myModal.show()">
                                <th><b>Test user</b></th>
                                <th><b>2021-12-10</b></th>
                                <th><b>invest unvalid</b></th>
                                <th>The content of the request
                                </th>
                            </tr>
                            <tr (click)="myModal.show()">
                                <th><b>Test user</b></th>
                                <th><b>2021-12-10</b></th>
                                <th><b>invest unvalid</b></th>
                                <th>The content of the request
                                </th>
                            </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination pull-right">
                            <li class="page-item"><a class="page-link">Prev</a></li>
                            <li class="page-item active">
                                <a class="page-link">1</a>
                            </li>
                            <li class="page-item"><a class="page-link">2</a></li>
                            <li class="page-item"><a class="page-link">3</a></li>
                            <li class="page-item"><a class="page-link">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">User: User Name</h4>
                <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>E-mail: </b>user@email.com</p>
                <p><b>Date: </b>2021-12-10</p>
                <p><b>Subject: </b>The subject</p>
                <p><b>Content: </b>The content of request</p>
                <p><img src="../../../../assets/img/image_placeholde2.jpg" alt="img"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="myModal.hide()">Reject</button>
                <button type="button" class="btn btn-success" (click)="myModal.hide()">Approuve</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
