<div class="app-body" style="margin-top: 30px;">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4" style="border-radius: 15px; margin-top: 30px;"><br><br><br><br><br><br>
              <div class="card-header"
                style="background-color: rgb(10, 51, 114); border-radius: 15px; margin-top: 15px;">
                <img src="../../../assets/img/crypto-logo.png" alt="">
              </div>
              <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <h1>Register</h1>
                  <p class="text-muted">Create your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" id="name" formControlName="name"
                      [ngClass]="{ 'is-invalid': submitted && f.name.errors }" class="form-control"
                      placeholder="Full Name" autocomplete="username" required>
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback text-danger">
                      <div *ngIf="f.name.errors.required">Full name is required</div>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <input type="text" id="email" formControlName="email"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control" placeholder="Email"
                      autocomplete="email" required>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-danger"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email is invalid. format: youremail@domain.com</div>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" id="password" formControlName="password" class="form-control"
                      placeholder="Password" autocomplete="new-password"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback text-danger">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" id="password2" formControlName="password2" class="form-control"
                      placeholder="Repeat password" [ngClass]="{ 'is-invalid': submitted && f.password2.errors }"
                      autocomplete="new-password" required>
                    <div *ngIf="submitted && f.password2.errors" class="invalid-feedback text-danger">
                      <div *ngIf="f.password2.errors.required">Confirmation is required</div>
                      <div *ngIf="f.password2.errors.mustMatch">Passwords must match</div>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-users"></i></span>
                    </div>
                    <input *ngIf="!sponsorId" type="text" id="sponsorshipId" placeholder="Referal: Automatic completion"
                      class="form-control" value="{{sponsorId}}" disabled>
                    <input *ngIf="sponsorId" type="text" id="sponsorshipId"
                      placeholder="{{sponsorId}}" class="form-control" value="{{sponsorId}}" disabled>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-flag"></i></span>
                    </div>
                    <select id="country" formControlName="country" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                      <option value="Cameroon" selected>Cameroon</option>
                      <option value="Gabon" disabled>Gabon</option>
                      <option value="Guinee" disabled>Equatorial Guinea</option>
                    </select>
                    <div *ngIf="submitted && f.country.errors" class="invalid-feedback text-danger">
                      <div *ngIf="f.country.errors.required">Country is required</div>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-building-o"></i></span>
                    </div>
                    <input type="text" id="city" formControlName="city"
                      [ngClass]="{ 'is-invalid': submitted && f.city.errors }" class="form-control"
                      placeholder="Your City" required>
                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback text-danger">
                      <div *ngIf="f.city.errors.required">City is required</div>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-signal"></i></span>
                    </div>
                    <select id="network" formControlName="network" placeholder="Account type" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.network.errors }">
                      <option value="MTN Money" selected>MTN Mobile Money</option>
                      <option value="Orange Money">Orange Money</option>
                    </select>
                    <div *ngIf="submitted && f.network.errors" class="invalid-feedback text-danger">
                      <div *ngIf="f.network.errors.required">Netework is required</div>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-phone"></i></span>
                    </div>
                    <input type="number" id="phone" formControlName="phone" class="form-control"
                      placeholder="Enter you Phone Number" autocomplete="new-password"
                      [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" required>
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback text-danger">
                      <div *ngIf="f.phone.errors.minlength">Phone is invalid. format: 6XXXXXXXX</div>
                      <div *ngIf="f.phone.errors.required">Phone is required</div>
                      <div *ngIf="f.phone.errors.pattern">Phone is invalid. format: 6XXXXXXXX</div>
                    </div>
                  </div><br>
                  <div class="mb-4 col-md-12">
                    <span class="pull-left" style="margin-top: -15px;">
                      <!-- <input id="user_agree" formControlName="user_agree" class="checkbox-custom"
                                name="checkbox-1" type="checkbox"> -->
                      <label for="user_agree" class="checkbox-custom-label"> I have
                        read, accepted and agreed to all the <a href="/login" style="color: rgb(226, 157, 7) !important;"> Terms, Data
                          Policy </a>and <a href="/login" style="color: rgb(226, 157, 7) !important;"> Cookie Policy</a>.</label><br>
                      <label class="switch switch-label switch-pill switch-warning">
                        <input type="checkbox" class="switch-input" id="user_agree" name="checkbox-1"
                          [ngClass]="{ 'is-invalid': submitted && f.user_agree.errors }" formControlName="user_agree">
                        <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                      </label>
                    </span>
                    <div *ngIf="submitted && f.user_agree.errors" class="invalid-feedback text-danger">
                      <div *ngIf="f.user_agree.errors.required">Agree is required</div>
                    </div>
                  </div><br>
                  <div class="col-8 pull-left">
                    <app-progress-indeterminate *ngIf="waitingRegistration"></app-progress-indeterminate>
                    <button type="submit" *ngIf="!waitingRegistration" class="btn btn-block btn-success">Create
                      Account</button>
                  </div>
                  <div *ngIf="!waitingRegistration && submitted" class="row red"><span class="col-12 text-center">Please
                      make sure that thes information you have entered is correct because after creating your account .</span>
                  </div>
                </form>
              </div>
              <div class="card-footer p-4" style="border-radius: 15px;">
                <div class="row">
                  <div class="col-6 text-left">Already have an account ?
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0" style="color: rgb(226, 157, 7) !important;"
                      routerLink="/login">Sign in now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>