  <div class="row">
    <div class="col-12">
      <ul class="tabs">
        <li class="tab" *ngFor="let tab of tabs;let i=index"> 
          <a href="#{{tab.title}}" [ngClass]="{'active':i==0}">{{tab.title}}</a>
        </li>
      </ul>
    </div>
    
      <div *ngFor="let tab of tabs;let i=index"  id="{{tab.title}}" class="col-12 tab-body">
        <ng-container *ngIf="shouldShow">
          <ng-container  *ngTemplateOutlet="tab.body"></ng-container>
        </ng-container>        
      </div>
  </div>

  