
.tabs .tab
{
    border: 0px;
    color:black;
    background-color: inherit;
}
.tabs .tab a
{
    color:rgba(0, 0, 0, 0.4)  ;
}
.tabs .tab a:focus.active {
    background-color: #e1f5fe  ;
    outline: none;
}
.tabs .tab a:hover
{
    color:#1e88e5 !important;
}

.tabs .tab .active
{
    border-bottom: 4px solid #1e88e5  ;
    color: rgba(0, 0, 0, 0.9) !important;
}
.tab-body{
    padding-top: 15px;
    margin-top: 15px;
}