<br>
<button class="btn btn-warning" routerLink="/user/admin"> Back</button>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card" style="border-radius: 15px;">
        <div class="card-header linear-gradient">
          <h3 class="text-center mx-4 mb-2">Investment Stats</h3>
        </div>
        <div class="card-body linear-gradient2 center-align">
          <button class="btn btn-secondary center" (click)="refreshFonct()">
            <i class="fa fa-refresh fa-lg mt-4"></i> Refresh Statistics
          </button>
          <div class="card-columns cols-2">
            <div class="card">
              <div class="card-header">
                Investment statistics Doughnut Chart
              </div>
              <div class="card-body">
                <div class="chart-wrapper">
                  <canvas baseChart class="chart" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                Investment statistics Polar Area Chart
              </div>
              <div class="card-body">
                <div class="chart-wrapper">
                  <canvas baseChart class="chart" [data]="polarAreaChartData" [labels]="polarAreaChartLabels"
                    [legend]="polarAreaLegend" [chartType]="polarAreaChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card" style="border-radius: 15px;">
        <div class="card-header linear-gradient">
          <h3 class="text-center mx-4 mb-2">Investment Panel</h3>
        </div>
        <div class="card-body linear-gradient2">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> All Investments ( {{listAllInvestment.length}} )</mat-panel-title>
                <mat-panel-description> List of all investments </mat-panel-description>
              </mat-expansion-panel-header>
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Amount</th>
                    <th>Plan</th>
                    <th>Invest Date</th>
                    <th>Invest Hours</th>
                    <th>Payment Date</th>
                    <th>Owner</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let investment of listAllInvestment;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{investment.amount}}</td>
                    <td>{{investment.plan}}</td>
                    <td>{{getFormatDate(investment.investmentDate)}}</td>
                    <td>{{getFormatHours(investment.investmentDate)}}</td>
                    <td>{{getFormatDate(investment.paymentDate)}}</td>
                    <td>{{getBuyer(investment.idOwner)}}</td>
                  </tr>
                </tbody>
              </table>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title> Initiated ( {{listInitiatedInvestment.length}} )</mat-panel-title>
                <mat-panel-description> All Initiated Investments </mat-panel-description>
              </mat-expansion-panel-header>
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Amount</th>
                    <th>Plan</th>
                    <th>Invest Date</th>
                    <th>Invest Hours</th>
                    <th>Payment Date</th>
                    <th>Owner</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let investment of listInitiatedInvestment;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{investment.amount}}</td>
                    <td>{{investment.plan}}</td>
                    <td>{{getFormatDate(investment.investmentDate)}}</td>
                    <td>{{getFormatHours(investment.investmentDate)}}</td>
                    <td>{{getFormatDate(investment.paymentDate)}}</td>
                    <td>{{getBuyer(investment.idOwner)}}</td>
                    <td>
                      <app-investments-admin-action [investment]="investment"></app-investments-admin-action>
                    </td>
                  </tr>
                </tbody>
              </table>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title> On Wating Payment Date ( {{listWaitingPaymentDateInvestment.length}} )
                </mat-panel-title>
                <mat-panel-description> Investments On Wating Payment Date </mat-panel-description>
              </mat-expansion-panel-header>
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Amount</th>
                    <th>Plan</th>
                    <th>Invest Date</th>
                    <th>Invest Hours</th>
                    <th>Payment Date</th>
                    <th>Owner</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let investment of listWaitingPaymentDateInvestment;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{investment.amount}}</td>
                    <td>{{investment.plan}}</td>
                    <td>{{getFormatDate(investment.investmentDate)}}</td>
                    <td>{{getFormatHours(investment.investmentDate)}}</td>
                    <td>{{getFormatDate(investment.paymentDate)}}</td>
                    <td>{{getBuyer(investment.idOwner)}}</td>
                    <th>
                      <app-investments-admin-action [investment]="investment"></app-investments-admin-action>
                    </th>
                  </tr>
                </tbody>
              </table>

            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title> Ready To Pay ( {{listReadyToPayInvestment.length}} )</mat-panel-title>
                <mat-panel-description> List Ready to pay Investments </mat-panel-description>
              </mat-expansion-panel-header>
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Amount</th>
                    <th>Plan</th>
                    <th>Invest Date</th>
                    <th>Invest Hours</th>
                    <th>Payment Date</th>
                    <th>Owner</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let investment of listReadyToPayInvestment;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{investment.amount}}</td>
                    <td>{{investment.plan}}</td>
                    <td>{{getFormatDate(investment.investmentDate)}}</td>
                    <td>{{getFormatHours(investment.investmentDate)}}</td>
                    <td>{{getFormatDate(investment.paymentDate)}}</td>
                    <td>{{getBuyer(investment.idOwner)}}</td>
                    <th>
                      <app-investments-admin-action [investment]="investment"></app-investments-admin-action>
                    </th>
                  </tr>
                </tbody>
              </table>

            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title> Payed Investments ( {{listPayedInvestment.length}} )</mat-panel-title>
                <mat-panel-description> List of Payed Investments </mat-panel-description>
              </mat-expansion-panel-header>
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Amount</th>
                    <th>Plan</th>
                    <th>Invest Date</th>
                    <th>Invest Hours</th>
                    <th>Payment Date</th>
                    <th>Owner</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let investment of listPayedInvestment;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{investment.amount}}</td>
                    <td>{{investment.plan}}</td>
                    <td>{{getFormatDate(investment.investmentDate)}}</td>
                    <td>{{getFormatHours(investment.investmentDate)}}</td>
                    <td>{{getFormatDate(investment.paymentDate)}}</td>
                    <td>{{getBuyer(investment.idOwner)}}</td>
                    <th>
                      <app-investments-admin-action [investment]="investment"></app-investments-admin-action>
                    </th>
                  </tr>
                </tbody>
              </table>

            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title> Rejected Investments ( {{listRejectedInvestment.length}} )</mat-panel-title>
                <mat-panel-description> List of Rejected Investments </mat-panel-description>
              </mat-expansion-panel-header>
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Amount</th>
                    <th>Plan</th>
                    <th>Invest Date</th>
                    <th>Invest Hours</th>
                    <th>Payment Date</th>
                    <th>Owner</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let investment of listRejectedInvestment;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{investment.amount}}</td>
                    <td>{{investment.plan}}</td>
                    <td>{{getFormatDate(investment.investmentDate)}}</td>
                    <td>{{getFormatHours(investment.investmentDate)}}</td>
                    <td>{{getFormatDate(investment.paymentDate)}}</td>
                    <td>{{getBuyer(investment.idOwner)}}</td>
                    <th>
                      <app-investments-admin-action [investment]="investment"></app-investments-admin-action>
                    </th>
                  </tr>
                </tbody>
              </table>

            </mat-expansion-panel>
          </mat-accordion>
          <mat-divider></mat-divider>

          <button (click)="checkInvestmentList()" class="mt-2 btn btn-infos green-text float-end">
            <i *ngIf="!waitResponseSecondBtn" class="fa fa-check green-text" style="margin-right: 5px;"></i>
            <app-spinner *ngIf="waitResponseSecondBtn" style="margin-right: 5px;"></app-spinner>
            Update Invest Payment status
          </button>
        </div>
      </div>
    </div>
  </div>