
<div class="modal-header">
    <span>Assign investment to</span>

    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">

        <span aria-hidden="true">&times;</span>

    </button>

</div>

<div class="modal-body">

    <div class="row">
        <div class="col-12">
            <form [formGroup]="form" (submit)="confirm()">
                <div class="form-group">
                    <label for="plan">Plan</label>
                    <select  formControlName="plan" placeholder="5days">
                        <option *ngFor="let option of gainList" value="{{option.percent}}" selected>{{option.numberOfDay}}days</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="payDate">Pay date</label>
                    <input formControlName="payDate" name="payDate" id="payDate" type="date" class="form-control" [ngClass]="{'is-invalid': submitted && form.controls.payDate.errors }">
                    <div *ngIf="submitted && form.controls.payDate.errors" class="invalid-feedback text-danger">
                        <div *ngIf="form.controls.payDate.errors.required">payDate is required</div>
                    </div>
                </div> 
            </form> 
        </div>
        
        <div class="col-12">
            <app-input-email-search (emailInputEvent)="selectedEmailUser($event)"></app-input-email-search>
        </div>
        <div class="col-12">
            <app-list-user [emailUser]="emailForSearchUser" (selectedUser)="setSelectedUser($event)"></app-list-user>  
        </div>

    </div>

    <div class="ibox-row-padding">

        <hr class="hr-line"/>

    </div>

    <div class="row">

        <div class="col-sm-6 m-b-xs">

            <button type="button" class="btn btn-success btn-block" (click)="confirm()">
                <span *ngIf="!waitResponse">Confirm</span>
                <app-spinner *ngIf="waitResponse"></app-spinner>
            </button>

        </div>

        <div class="col-sm-6">

            <button class="btn btn-danger btn-block" type="button" (click)="close()">Cancel</button>

        </div>

    </div>

</div>
