<br>
<button class="btn btn-warning" routerLink="/user/admin"> Back</button>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card" style="border-radius: 15px;">
        <div class="card-header linear-gradient">
          <h3 class="text-center mx-4 mb-2">Settings Panel</h3>
        </div>
        <div class="card-body linear-gradient2">
          <mat-card>
            <app-tabs>
              <app-tab-item title="Market">

                <div class="row">
                  <div class="col-12">
                    <alert type="warning">
                      <strong>Warning!</strong> If you open the market status manually you must also close it manually
                    </alert>
                  </div>
                  <span class="col-2">Market Status</span>
                  <span class="col-2">
                    <span [ngClass]="{'red-text':market.state!='open', 'green-text':market.state=='open'}">
                      {{market.state=='open'?'OPEN':'CLOSE'}}
                    </span>
                  </span>
                  <div class="col-2">
                    <!-- <button [ngClass]="{'b-danger': user.user.status=='active',
              'b-success' : user.user.status!='active'}" (click)="changeStatus(user)"
                  class="btn btn-sm btn-danger">
                  <i *ngIf="!user.waitResponse" class="fa fa-power-off"></i>
                  
                </button> -->

                    <button (click)="changeMarketStatus()"
                      [ngClass]="{'btn-success':market.state!='open', 'btn-danger':market.state=='open'}" class="btn">
                      <span *ngIf="!waitForChangeStateMarket">{{market.state=='open'?'CLOSE':'OPEN'}}</span>
                      <app-spinner *ngIf="waitForChangeStateMarket"></app-spinner>
                    </button>
                  </div>
                </div><br><br>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-3">Market opening time</div>
                      <div class="col-3">
                        <button class="btn btn-info white-text" (click)="addTimeRange()">
                          <i class="fa fa-plus"></i><span>Add time range</span>
                        </button>
                      </div>
                      <div class="col-3">
                        <button class="btn btn-danger white-text" (click)="removeTimeRange()">
                          <i class="fa fa-times"></i><span>Remove time range</span>
                        </button>
                      </div>
                      <div class="col-3">
                        <button class="btn btn-success white-text" (click)="saveTimeRange()">
                          <app-spinner *ngIf="waitForChangeStateMarketTwo"></app-spinner>
                          <span *ngIf="!waitForChangeStateMarketTwo">
                            <i class="fa fa-save"></i><span>Save time range</span>
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Start</th>
                        <th>End</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let time of timeList;let i=index">
                        <td>{{i+1}}</td>
                        <td>
                          <app-admin-timerpicker [time]="time.start"></app-admin-timerpicker>
                        </td>
                        <td>
                          <app-admin-timerpicker [time]="time.end"></app-admin-timerpicker>
                        </td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="timeList.length==0">
                      <tr>
                        <td colspan="3">
                          <div class="d-flex justify-content-center">
                            <app-spinner *ngIf="waitLoadData"></app-spinner>
                            <span *ngIf="!waitLoadData">No data to show</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </app-tab-item>
              <app-tab-item title="Gain">
                <app-gain></app-gain>
              </app-tab-item>
            </app-tabs>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>