 
<span title="Remove from the market" *ngIf="investment.state=='on_market'" (click)="changeStatusInvestment(investment)" class="green-text hand">
    <b>
        <i *ngIf="selectedInvestmentId!=investment.id.toString() && !waitResponse" class="fa fa-shopping-cart"></i>
        <app-spinner *ngIf="selectedInvestmentId==investment.id.toString() && waitResponse" style="margin-right: 5px;"></app-spinner>
    </b>
</span>

<span title="Put on the market" *ngIf="investment.state=='not_on_market'" (click)="changeStatusInvestment(investment)" class="red-text hand">
    <b>
        <i *ngIf="selectedInvestmentId!=investment.id.toString() && !waitResponse" class="fa fa-shopping-cart"></i>
        <app-spinner *ngIf="selectedInvestmentId==investment.id.toString() && waitResponse" style="margin-right: 5px;"></app-spinner>
    </b>
</span>

<span  title="Transfer to a buyer" (click)="transferInvestment(investment)" class="blue-text" >
    <b>
        <i  class="fas fa-paper-plane" *ngIf="selectedInvestmentId!=investment.id.toString() || !waitResponseThird "></i>
        <app-spinner *ngIf="selectedInvestmentId==investment.id.toString() && waitResponseThird " style="margin-right: 5px;"></app-spinner>
    </b>  
</span>

<span  title="Split the investment" (click)="splitInvestment(investment)" class="orange-text" >
    <b>
        <i  class="fas fa-cut" *ngIf="selectedInvestmentId!=investment.id.toString() || !waitResponseFour "></i>
        <app-spinner *ngIf="selectedInvestmentId==investment.id.toString() && waitResponseFour " style="margin-right: 5px;"></app-spinner>
    </b>  
</span>

<span  title="Remove the investment from the system" (click)="deleteInvestment(investment)" class="pink-text" >
    <b>
        <i *ngIf="selectedInvestmentId!=investment.id.toString() || !waitResponseSecond " class="fas fa-trash-alt"></i>
        <app-spinner *ngIf="selectedInvestmentId==investment.id.toString() && waitResponseSecond " style="margin-right: 5px;"></app-spinner>
    </b>  
</span>
            