<div class="animated fadeIn">
  <a routerLink="/admin" class="btn btn-link">
    <i class="fa fa-arrow-left"></i> Back to menu
  </a>
  <div class="row">
    <div class="col-md-6 text-right">
      <a routerLink="/admin/list-user" class="btn btn-success" style="background-color: rgb(172, 88, 14) !important;"><i class="fa fa-user"></i> Users</a>
    </div>
    <div class="col-sm-6 col-md-12">
      <div class="card">
        <div class="row linear-gradient2">
          <div class="col-md-6">
            <h1>List of Investment</h1>
          </div>
          <div class="col-md-6 text-right">
            <a routerLink="/admin/add-investment" class="btn btn-success" style="background-color: green !important;"><i class="fa fa-plus"></i></a>
          </div>
        </div>

        <div class="row linear-gradient2">
          <div class="col-md-12">
            <input (keyup)="searchInvestment()" [(ngModel)]="search" type="text" class="form-control" placeholder="Search...">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Amount</th>
                  <th>Id Investment</th>
                  <th>payDate</th>
                  <th>saleDate</th>
                  <th>buyState</th>
                  <th>plan</th>
                  <th>idOwner</th>
                  <!-- <th>idBuyer</th> -->
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="searchInvestments.length>0">
                <tr *ngFor="let investment of searchInvestments" [ngClass]="{'table-success': investment.investment.state=='on_market',
                                                          'table-danger' : investment.investment.state=='not_on_market'}">
                  <td>
                    <button [ngClass]="{'b-danger': investment.investment.state=='on_market',
                                  'b-success' : investment.investment.state=='not_on_market'}" (click)="changeStatusMarket(investment)" class="btn btn-sm btn-danger">
                      <i *ngIf="!investment.waitResponse" class="fa fa-power-off"></i>
                      <app-spinner *ngIf="investment.waitResponse" ></app-spinner>
                    </button>
                  </td>
                  <td>{{ investment.investment.amount }}</td>
                  <td>{{ investment.investment.id }}</td>
                  <td>{{ investment.investment.payDate }}</td>
                  <td>{{ investment.investment.saleDate }}</td>
                  <td>{{ investment.investment.getBuyState() }}</td>
                  <td>{{ investment.investment.plan }}</td>
                  <td>{{ investment.investment.idOwner }}</td>
                  <!-- <td>{{ investment.investment.idBuyer }}</td> -->
                  <!-- <td>{{ investment.investment.state }}</td> -->
                  <td class="text-right">
                    <button (click)="deleteInvestment(investment.investment.id)" class="btn btn-sm btn-warning" style="background-color: rgb(223, 31, 31) !important;">
                      <i class="fa fa-trash-o" aria-hidden="true" style="color: cornsilk;"></i>
                    </button>
                    <br>
                    <a [routerLink]="['/edit',investment.investment.id]" (click)="editinvestment(investment.investment.id)" class="btn btn-sm btn-info"
                      style="background-color: rgb(39, 111, 235) !important;">
                      <i class="fa fa-pencil" style="color: cornsilk;"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="searchInvestments.length==0">
                <tr >
                  <td colspan="11">
                    <div class="d-flex justify-content-center"><app-spinner></app-spinner></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>