<main class="main d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card-group">
                    <div class="card p-4" style="border-radius: 15px;">
                        <div class="card-header">
                            Note:
                        </div>
                        <div class="card-body">
                            <form [formGroup]="requestForm" (ngSubmit)="submit()">
                                <h1>Request</h1>
                                <p class="text-muted">Send request to administrator</p>
                                <div class="input-group mb-3">
                                    <input type="text" id="subject" formControlName="object"
                                        placeholder="Enter Subject request" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.object.errors }">

                                    <div *ngIf="submitted && f.object.errors" class="invalid-feedback text-danger">
                                        <div *ngIf="f.object.errors.required">Field is required</div>
                                    </div>
                                </div>
                                <div class="input-group mb-4">
                                    <textarea id="content" type="content" formControlName="content"
                                        placeholder="Enter Your content" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.content.errors }"></textarea>

                                    <div *ngIf="submitted && f.content.errors" class="invalid-feedback text-danger">
                                        <div *ngIf="f.content.errors.required">Content is required</div>
                                    </div>
                                </div>
                                <div class="row">Add image if necessary <br>
                                    <div class="col-12">
                                        <div class="input-group mb-4">
                                            <input type="file" name="imageUrl" id="imageUrl" ngModel accept="image/*"
                                                class="form-control ml-4" #fileUploader formControlName="imageUrl"
                                                (change)="showPreview($event)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <img [src]="imgSrc" class="responsive" (click)="fileUploader.click()">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <app-progress-indeterminate *ngIf="waitingSubmit">
                                        </app-progress-indeterminate>
                                        <button type="submit" class="submit loginmodal-submit btn btn-success px-4"
                                            value="Submit" *ngIf="!waitingSubmit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card" style="border-radius: 15px;">
                <div class="card-header linear-gradient">
                    <h3 class="text-center mx-4 mb-2">Requests History</h3>
                </div>
                <div class="card-body linear-gradient2">
                    <table class="table table-bordered table-striped table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th><b>Date</b></th>
                                <th><b>Subject</b></th>
                                <th><b>Content</b></th>
                                <th><b>Starus</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><b>2021-12-10</b></th>
                                <th><b>invest unvalid</b></th>
                                <th>The content of the request</th>
                                <th><div class="btn btn-danger">Rejected</div></th>
                            </tr>
                            <tr>
                                <th><b>Test user</b></th>
                                <th><b>2021-12-10</b></th>
                                <th><b>invest unvalid</b></th>
                                <th><div class="btn btn-success">Approuved</div></th>
                            </tr>
                            <tr>
                                <th><b>Test user</b></th>
                                <th><b>2021-12-10</b></th>
                                <th><b>invest unvalid</b></th>
                                <th><div class="btn btn-secondary">Initiated</div></th>
                            </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination pull-right">
                            <li class="page-item"><a class="page-link">Prev</a></li>
                            <li class="page-item active">
                                <a class="page-link">1</a>
                            </li>
                            <li class="page-item"><a class="page-link">2</a></li>
                            <li class="page-item"><a class="page-link">3</a></li>
                            <li class="page-item"><a class="page-link">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>