<div class="container">
    <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3">Gain</div>
            <div class="col-3">
              <button class="btn btn-info white-text" (click)="addGain()">
                <i class="fa fa-plus"></i><span>Add gain</span>
              </button>
            </div>
            <div class="col-3">
              <button class="btn btn-danger white-text" (click)="removeGain()">
                <i class="fa fa-times"></i><span>Remove gain</span>
              </button>
            </div>
            <div class="col-3">
              <button class="btn btn-success white-text" (click)="saveGain()">
                <app-spinner *ngIf="waitForChangeStateGain"></app-spinner>
                <span *ngIf="!waitForChangeStateGain">
                  <i class="fa fa-save"></i><span>Save gain</span>
                </span>
              </button>
            </div>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Number of day</th>
              <th>Percentage</th>
            </tr>
          </thead>
  
          <tbody>          
            <tr *ngFor="let gain of gainList;let i=index">
              <td>{{i+1}}</td>
              <td><app-gain-input [value]="gain.numberOfDay"></app-gain-input></td>
              <td><app-gain-input [value]="gain.percent"></app-gain-input></td> 
            </tr>                           
          </tbody>
          <tbody *ngIf="gainList.length==0">
            <tr>
              <td colspan="3">
                <div class="d-flex justify-content-center">
                  <app-spinner *ngIf="waitLoadData"></app-spinner>
                  <span *ngIf="!waitLoadData">No data to show</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="col-12">
            <form [formGroup]="formBonus" (ngSubmit)="saveBonus()">
                <div class="row">
                    <div class="col-3">Bonus</div>                
                    <div class="col-3">
                        <button class="btn btn-success white-text" type="submit">
                            <app-spinner *ngIf="waitForChangeStateBonus"></app-spinner>
                            <span *ngIf="!waitForChangeStateBonus">
                                <i class="fa fa-save"></i><span>Save bonus</span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col-6">
                        <div class="row">
                            <span class="col-3">Value </span>
                            <span class="col-7">
                                <input type="number" formControlName="formBonusValue">
                            </span></div>
                    </div>   
                    <div class="input-field col-6">
                      <div class="row">
                          <span class="col-7">Minimum withdrawal value </span>
                          <span class="col-5">
                              <input type="number" formControlName="formMinBonus">
                          </span></div>
                  </div>                   
                </div>
            </form>
          </div>
      </div>
</div>